<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <button type="button">Generate now</button>
    </div>
</body>

<script>
    document.querySelector(".container>button").addEventListener("click",async ()=>{
        console.log("yes");
        let a = await fetch ("/generate");
        let r = await a.json();
        console.log(r);
    })
</script>
</html>